// initial
* {
  margin: 0;
  padding: 0;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address,
em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
html {font-size: 20px;}
body {
  font-size: 1rem;
}
a {
  color: inherit; //부모요소의 컬러를 사용하도록
  text-decoration: none;
}
ul, ol, li { list-style: none; }
address, em { font-style: normal; }
img {
  width: auto;
  height: auto;
  border: none;
  vertical-align: middle;
  max-width: 100%;
}
